
body {
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

#s1 {
	left: 50%;
	margin-left: -40%;
	width: 80%;
}

#calendar{
	width: 75%;
	margin: 0 auto;
}

.fc-cell-overlay{
	opacity: 0.5;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#5DB9FF),to(#3777fD));
	background-image: -webkit-linear-gradient(top,#5DB9FF,#3777fD);
	background-image: linear-gradient(top,#5DB9FF,#3777fD);
	background-image: -moz-linear-gradient(top,#5DB9FF,#3777fD);
	background-image: -ms-linear-gradient(top,#5DB9FF,#3777fD);
	background-image: -o-linear-gradient(top,#5DB9FF,#3777fD);
}

td.fc-first, td.fc-last{
/*	border: 1px solid #CCCCCC;
*/    background: #FEE 50% repeat-x;
}

td.fc-today{
	background: #FFFFCC 50% repeat-x;
}

.gcal-event .fc-event-skin{
	background-color: #DEEDF7;
	border-color: #CCCCCC;
}
.gcal-event {
	border-color: #CCCCCC;
}

.holiday .fc-event-skin{
	background-color: #FFFFCC;
	border-color: #CCCCCC;
}
.holiday{
	border-color: #CCCCCC;
}

.gcal-event .fc-event-title{
	color: gray;	
}

.calendar-container{
	position: relative;
}

a.calendar-button{
	text-decoration: none;
	display : block;
	position: absolute;
	top: 50%;
}
a.calendar-button:hover div{
	background-color: #CCCCCC;
}
a.calendar-button div{
	background-color: gray;
	width: 100px;
	height: 100px;
	color: white;
	font-size: 74px;
	padding: 5px;
	text-align: center;
	font-weight: bold;
}

.calendar-prev{
	left: -5%;
}
.calendar-next{
	right: -5%;
}

.calendar-prev div{
	border-radius: 100px 15px 15px 100px;
	
}
.calendar-next div{
	border-radius: 15px 100px 100px 15px;
}